<link rel="import" href="../../vendor/polymer/polymer.html">
<link rel="import" href="../../vendor/iron-pages/iron-pages.html">

<dom-module name="oned-screens">
    <style>
        .screen-wrapper {
            position: relative;
            background: rgba(0,0,0,0.2);
            box-shadow: inset 0 10px 10px rgba(0,0,0,0.4);
            min-height: calc(100vh - 50px);
        }
        .screen-wrapper:before {
            content: "Read the scenario and begin the test";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 24px;
            font-weight: 900;
            opacity: 0.1;
            text-align: center;
            transform: translate3d(-50%,-50%,0);
        }
        img {
            max-width: 100%;
            opacity: 0;
            animation: zoomInUp 0.5s 0.25s ease forwards;
            cursor: pointer;
            position: relative;
        }
        .hotspot {
            width: 200px;
            height: 50px;
            background: red;
            border-radius: 4px;
            position: absolute;
            top: 500px;
            left: 400px;
            cursor: pointer;
        }
        .component {
            background: red;
            position: absolute;
            z-index: 5;
            top: 20px;
            left: 20px;
        }
        .screen {
            position: relative;
            width: 1440px;
            margin: 0 auto;
        }
    </style>
    <template>
        <div class="screen-wrapper">
            <iron-pages selected="{{ active }}" id="pages">
                <div></div>
                <template is="dom-repeat" items="{{ _toArray(tests) }}" as="screen">
                    <div class="screen">
                        <img src$="{{ screen.value.screenshotUrl }}" on-click="_handleClick">
                        <template is="dom-repeat" items="{{ _toArray(screen.value.components) }}" as="component">
                            <div class="component" style$="width: {{ component.value.width }}px; height: {{ component.value.height }}px; top: {{ component.value.topPos }}px; left: {{ component.value.leftPos }}px">
                            </div>
                        </template>
                    </div>
                </template>
            </iron-pages>
        </div>
    </template>
    <script>
        Polymer({
            is: "oned-screens",
            properties: {
                tests: {
                    type: Array,
                    notify: true
                },
                active: {
                    type: String,
                    notify: true,
                    value: 0
                }
            },
            _handleClick: function() {
                // Check for end of questions
                var nextQuestion = parseInt(this.active) + 1;
                if (this.active == this.screens.length) {
                    page("/thanks");
                } else {
                    page("/questions/" + nextQuestion);
                }
            },
            _toArray: function(obj) {
                return Object.keys(obj).map(function(key) {
                    return {
                        name: key,
                        value: obj[key]
                    };
                });
            }
        });
    </script>
</dom-module>
