<link rel="import" href="../../../vendor/polymer/polymer.html">
<dom-module name="cadmus-placeholders">
    <style>
        .placeholder {
            background: rgba(0,0,0,0.1);
            position: absolute;
            z-index: 5;
            top: 20px;
            left: 20px;
        }
    </style>
    <template>
        <div id="placeholders"></div>
    </template>
    <script>
        Polymer({
            is: "cadmus-placeholders",
            properties: {
                showPlaceholders: {
                    type: Boolean,
                    value: true
                },
                components: {
                    type: Array,
                    value: [],
                    notify: true,
                    observer: "_handleComponentsChanged"
                },
                active: {
                    type: String,
                    notify: true,
                    value: 0
                }
            },
            _handleComponentsChanged: function(newVal) {
                var self = this;
                newVal.forEach(function(component, index) {
                    self._importComponent("placeholder" + index, component)
                });
            },
            _importComponent: function(container, component) {
                var self = this;
                var containerEl = document.createElement("div");
                containerEl.id = container;
                containerEl.className = "placeholder";
                containerEl.setAttribute("style",
                    "width:" + component.width + "px; height:" + component.height+ "px; left:" + component.leftPos + "px; top:" + component.topPos + "px");
                Polymer.dom(this.$$("#placeholders")).appendChild(containerEl);
                // Polymer.dom(this.root).querySelector("#" + container).appendChild(component);
                this.importHref("/assets/components/" + component.path, function(event) {
                    var regex = new RegExp(".*\/(.*)", "g");
                    var componentName = regex.exec(component.path);
                    var componentEl = document.createElement(componentName[1]);
                    Polymer.dom(this.$$("#" + container)).appendChild(componentEl);
                }, function(event) {
                    console.log(event);
                });
            }
        });
    </script>
</dom-module>
